#section-one {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-items: center;
  border-radius: 15px;
  padding: 6px;
  height: 200px;
  border: 1px palegreen solid;
  padding: 0px;
  margin: 0px;
}
#section-two {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 15px;
  padding: 6px;
  height: 200px;
  border: 1px palevioletred solid;
  padding: 0px;
  margin: 0px;
}
