.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px green solid;
  border-radius: 15px;
  height: 95vh;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px black solid;
  border-radius: 10px;
  margin: 6px;
  padding: 6px;
}
